:root {
  --color-primary: #c1d4d9;
  --color-primary-light: ;
  --color-secondary: #bcd6d2;
  --color-accent: #707070;
  --colour-neutral-beige: #FAFAFA;
  --color-whatever: ;

  --font-primary: "LTC Globe Gothic", "Trebuchet MS" , Arial, sans-serif;
  --front-secondary: "Source Codse Pro", Menlo, Consolas, monospace;
}

html {
  font-family: var(--font-primary);
}
