LTC Globe Gothic Bold Italic

font-family: ltc-globe-gothic, sans-serif;

font-weight: 700;

font-style: italic;


LTC Globe Gothic Bold

font-family: ltc-globe-gothic, sans-serif;

font-weight: 700;

font-style: normal;


LTC Globe Gothic Regular

font-family: ltc-globe-gothic, sans-serif;

font-weight: 400;

font-style: normal;
