.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.bottom {
  z-index: 1000;
  top: -0.5rem;
  width: 100%;
}

.edges {
  margin-left: auto;
  margin-right: auto;
  max-width: 68em;
  width: 100%;
}

.icon-label {
  color: var(--color-primary-dark);
}

.footer .i-social {
  width: .75rem;
  height: .75rem;
}

.footer .text {
  color: var(--color-secondary);
  border: none;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  color: var(--color-primary);
}

.footer {
  text-align: center;
}

.nav .text {
  color: var(--color-primary-dark);
  border: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  color: var(--color-secondary);
}

.xs-hidden {
  display: none;
}

@media only screen and (min-width: 38em) {

  .footer .unit:first-child {
    text-align: left;
  }

  .footer .unit:last-child {
    text-align: right;
  }

.xs-hidden {
    display: block;
  }

}

@media only screen and (min-width: 45em) {

  .footer .i-logo {
    width: 2rem;
    height: 2rem;
  }

  .footer .i-social {
    width: 1rem;
    height: 1rem;
  }

}
