.btn {
  font-family: var(--font-primary);
  font-weight: 600;
  background:  var(--color-primary-dark);
  border-radius: 5px;
  color: var(--color-accent);
}

.btn-basic {
  font-family: var(--font-primary);
  font-weight: 600;
  background: var(--color-secondary);
}

.btn-ghost {
  background-color: var(--color-neutral-white);
  border-color: var(--color-secondary);
  color: var(--color-primary-dark);
}

.btn-light {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary-dark);
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary-dark);
}

.btn-ghost:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary-dark);
}

.btn-light:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-primary-dark);
