.header {
  color: var(--color-primary-dark);
}

 {
  background: var(--color-primary);
}

 .text {
  box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
  border-bottom: 2px solid var(--color-primary);
  background-color: #fff;
  color: var(--color-accent);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav li {
  display: inline-block;
  background-color: transparent;
  border-color: none;
  color: var(--color-accent);
  border-bottom: 2px solid var(--color-primary);
}

@media only screen and (min-width: 38em) {

  .nav .unit:first-child {
    text-align: left;
  }

  .nav .unit:last-child {
    text-align: right;
  }

.xs-hidden {
    display: block;
  }

}

@media only screen and (min-width: 45em) {

  .nav {
    width: 2rem;
    height: 2rem;
  }

  .nav  {
    width: 1rem;
    height: 1rem;
  }

}
