header {
  font:
}

 {
  box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
  border-bottom: 2px solid var(--color-primary);
  background-color: #fff;
  color: var(--color-accent);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav li {
  display: inline-block;
  background-color: transparent;
  border-color: none;
  color: var(--color-accent);
  border-bottom: 2px solid var(--color-primary);
}

h1 {
  var(--color-primary-dark);
}
