nav {
  z-index: 1000;
}

.nav {
  background-color: var(--color-primary);
  font-family: var(--font-primary);
  font-weight: 600;
  border-radius: 5px;
  color: fff;
  margin: 0;
  list-style-type: none;
  display: inline-flex;
  width: 100%;
}

.main-link {
  display: inline-flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
}

.nav li {
  display: inline-block;
}

.nav-links {
  text-align: left;
}

.nav a {
  color: var(--color-accent)
  display:inline-block;
  padding: 0.5em 0.5em
  text-decoration: none;
  background-color: var(--color-secondary);
  border-radius: 4px;
}

.nav a:hover {
background-color: var(--color-whatever);

}

body {
  margin: 0;
}

header {
  background-color: #e2e2e2;
  text-align: center;
}

h1 {
  margin: 0;
  text-align: left;
  display: absolute;
}

.borderify {
  border: .2em solid var(--color-neutral);

.current {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
}

@media only screen and (min-width: 38em) {

  .nav .unit:first-child {
    text-align: left;
  }

  .footer .unit:last-child {
    text-align: right;
  }

  ul.xs-hidden {
    display: block;
  }

}

@media only screen and (min-width: 45em) {

  .nav {
    width: 2rem;
    height: 2rem;
  }

  .nav {
    width: 1rem;
    height: 1rem;
  }
