input:not([type="checkbox"]):not([type="radio"]),
textarea,
select:not(.sort) {
  display: block;
  width: 100%;

  background-color: #fff;
  border: none;
  border-bottom: 2px solid var(--color-primary);
  border-radius: 0;
  padding: .25rem;
  height: auto;
  box-shadow: var(--shadow-primary);
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='none' stroke='%2300953b' stroke-miterlimit='10' stroke-width='30' d='M36.3 82.1l91.9 91.8 91.5-91.8'/%3E%3C/svg%3E");
}

select.sort {
  display: inline-block;
  width: auto;

  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0 1.5rem 0 0;
  height: auto;
  color: var(--color-primary);
}

.product-search-sort input[type="search"] {
  background:
    url("../../images/search.svg") .25rem center / 1.25rem auto no-repeat,
    #fff;
  padding-left: 2rem;
}

[type="radio"] + label::before {
  border: 2px solid var(--color-primary);
}

[type="radio"]:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Ccircle fill='%23666' cx='128' cy='128' r='70.4'/%3E%3C/svg%3E");
}

[type="checkbox"] + label::before {
  box-shadow: var(--shadow-primary);
  border: none;
  border-bottom: 2px solid var(--color-primary);
  border-bottom-color: var(--color-primary);
}

[type="checkbox"]:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='none' stroke='%23666' stroke-miterlimit='10' stroke-width='30' d='M49.9 130.1l50.8 50.7L206.1 75.2'/%3E%3C/svg%3E");
}

.flag-optional {
  color: #999;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.error-message-highlighted,
.error-message-highlighted h3 {
  background-color: #c33;
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}

.card .product-quantity label,
.product-quantity.inline-block label {
  display: inline-block;
  color: var(--color-primary);
}

.card .product-quantity input,
.product-quantity.inline-block input {
  display: inline-block;
  width: 1.75rem;
  text-align: center;
}

.shipping-disabled input:not([type="checkbox"]):not([type="radio"]),
.shipping-disabled textarea,
.shipping-disabled select,
.shipping-disabled label {
  filter: grayscale(1);
  opacity: .5;
}

.product-quantity.inline-block {
  position: static;
}
