<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} | {% endif %}Diet Water</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

  <ul class="skip-links">
    <li><a href="#nav">Jump to navigation</a></li>
    <li><a href="#main">Jump to main content</a></li>
    <li><a href="#footer">Jump to footer</a></li>
  </ul>

  {% pattern header/header %}
  {{content}}
  {% pattern footer/footer %}

</body>
</html>
