<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>GeoHub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

<header>
  <h1>Diet Water</h1>
</header>
  <nav>
    <ul>
      <li class="gutter"><a href="index.html">Diet Water</a></li>
      <li class="gutter"><a href="products.html">CANS</a></li>
      <li class="gutter"><a href="#">JARS</a></li>
      <li class="gutter"><a href="#">BOXES</a></li>
      <li class="gutter"><a href="#">ORDERS</a></li>
    </ul>
  </nav>
{% pattern header/header %}
{{content}}
{% pattern footer/footer %}

</body>
</html>
